.layui-header {
    border-bottom: 1px solid #ccc;
}

.dd-nav-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10%;
}

.layui-nav {
    position: relative;
    padding: 0 10px;
    background-color: #f7f9f9;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
}

.layui-nav .layui-nav-item a {
    padding: 0 14px;
    color: rgba(0, 0, 0, 0.7);
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
    color: #03b966;
}

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 2px;
    background-color: #5FB878;
    transition: all .2s;
    -webkit-transition: all .2s;
}

/*我的--------------------------*/

.dd-my-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.layui-nav-my {
    position: relative;
    padding: 19px 21px;
    border-radius: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    height: 102px;
    width: 100%;
}

.dd-nav-item1 {
    float: left;
    padding-top: 10px;
}

.dd-nav-item2 {
    float: right;
    padding-top: 10px;
}

/*我的蛋蛋--------------------------*/

.dandan-img {
    height: 118px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.layui-nav-dandan {
    position: relative;
    padding: 15px 5px;
    border-radius: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    height: 140px;
    width: 100%;
}

.dandan-nav-item1 {
    font-size: 28px;
    float: left;
    padding-top: 40px;
    width: 15%;
}

.dandan-nav-item2 {
    float: right;
    padding-top: 10px;
    width: 43%;
}

.dandan-nav-item3 {
    float: right;
    padding-top: 10px;
    width: 50%;
}

.dandan-nav-item3-f {
    font-size: 13px;
    color: #868c92;
}

.dandan-nav-modal {
    padding-top: 40px;
}

.dandan-modal {
    text-align: center;
    height: 119px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e3e0e0;
    margin: 5px;
}

.dandan-modal-q {
    text-align: center;
    padding-top: 6px;
}

.layui-input1, .layui-textarea {
    width: 24%;
    padding-left: 10px;
}

.layui-input1, .layui-select, .layui-textarea {
    height: 27px;
    line-height: 1.3;
    line-height: 38px \9;
    border-width: 1px;
    border-style: ridge;
    background-color: #fff;
    border-radius: 5px;
}

.dandan-modal1 {
    height: 119px;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #e3e0e0;
    margin: 5px;
    font-size: 11px;
}

.mydd-dd-baby {
    float: left;
}
.mydd-dd-type {
    height: 25px;
    line-height: 25px;
    margin: 5px;
    background: #f2f2f2;
    padding: 5px;
    border-radius: 7px;
}
.mydd-dd-box {
    width: 96px;
    height: 122px;
    border: 1px solid #d0c8c8;
    /*border-radius: 6px;*/
    margin: 5px 5px;
    float: left;
    text-align: center;
    font-size: 11px;
}
.mydd-baby-img {
    margin: 5px;
}
.mydd-baby-img img{
    margin: 0 auto;
    width: 85px;
    border-radius: 8%;
}
.mydd-dd-box p {
    padding-top: 4px;
}

/*市场----------------------------------------*/
.market-ddfl {
    /*padding: 10px;*/
}

.market-dd-box {
    width: 165px;
    height: 232px;
    border: 1px solid #d0c8c8;
    border-radius: 6px;
    margin: 10px 5px 5px 5px;
    float: left;
}

.market-dd-img {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    float: left;
}

.market-dd-name {
    float: left;
    padding-top: 14px;
    font-size: 16px;
}

.market-dd-user {
    height: 48px;
    margin: 0 5px 0 5px;
    border-bottom: 1px solid #ccc;
}

.market-dd-baby {
    text-align: center;
}

.market-baby-img {
    margin: 10px;
}
.market-baby-img img{
    margin: 0 auto;
    width: 85px;
    border-radius: 16%;
}
.market-baby-img, .layui-btn-xs{
    padding: 0 21px;
}
.market-dd-baby p{
    font-size: 11px;
    margin: 4px;
}

.market-modal {
    padding: 16px 22px;
    font-size: 12px;
    height: 101px;
    border-bottom: 1px solid #e3e0e0;
}

.market-modal-img {
    float: left;
    width: 40%;
}
.market-modal-img img{
    float: left;
    width: 100px;
    border-radius: 16%;
}
.market-modal-p {
    float: left;
    padding: 10px;
    width: 52%;
}
.market-modal-p p {
    line-height: 22px;
}
.market-modal-submit {
    margin: 17px;
}
.record-nav-item1 {
    float: left;
}
.record-nav-item2 {
    float: right;
}

.record-nav1 {
    width: 98%;
    height: 24px;
    line-height: 24px;
}
.record-nav2 {
    width: 98%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.record-nav {
    border-bottom: 1px solid #ccc;
    height: 53px;
    margin: 8px 0;
}

/*战争=================================*/
.battle-dd-item {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.battle-dd-byzs {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}